---
layout: layouts/home.njk
eleventyNavigation:
  key: 首页
  order: 1
eleventyComputed:
  title: 首页-{{ metadata.title }}
permalink: "/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---
<h1>🆕文章列表</h1>

{% set postslist = posts | reverse  %}
{% include "postslist.njk" %}


{% include "pagination.njk" %}
{# List every content page in the project #}


